*{
    margin: 0%;
}
:root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorYello: #C17817;
    --colorYellow: #FFC914;
    --colorGreen: #76B041; 
    --colorBlackLight: #2E282A;
    --colorBlue: #0000ff;
    --colorOrange: #E4572E;
    --fontSize-sm: 16px;
    /* --fontFamily: 'Arial, Helvetica';
    --fontTitle: 'Helvetica';
    --fontBody: 'Helvetica'; */

    --fontFamily: sans-serif, 'Roboto, Oswald, Lato';
    --fontTitle: 'Roboto';
    --fontBody: 'Roboto';
    --h1: 'Lato';
}

/* Newtask component styles */
.newTaskDiv, .argumentTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5%;
    z-index: 1;
     /* background-image: url("../assets/studio.jpg"); */
}
.argumentTask{
    gap: 10px;
    width: 35%;
    margin-top: 2%;
}
.newTaskDiv h2{
    margin-bottom: 30px;
    margin-top: 0px;
}
.input-field input{
    padding-top: 5px;
    padding-bottom: 5px;
}
.task-card{
    background-color: #0000ffde;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}
.input-newtask-item{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(210, 207, 207);
}
.input-field-newtask{
    width: 100%;
}

/* Taskitem disposition layout */
.doneText {
    text-decoration: line-through;
    text-align: center;
    margin-top: 5%;
    color: white;
}
.doneText2{
    margin-top: 8%;
    text-align: center;
    color: white;
}
.doneText2 p{
    margin-top: 5%;
    color: white;
}
.homeTask{
    margin-top: 30px;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
/* TaskItem style */
.container{
    display: flex;
    background-image: url("../assets/plugin.jpeg");
    opacity: 0.85;
    background-repeat: none;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    padding: 10%;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 15px #515151;
}
.todo-item{
    margin-top: 5px;
    width: 33%;
    height: 100%;
}
/* Button Task */
.buttonTask{
    padding: 5px 10px;
    border: none;
    border-radius: 10%;
    margin-bottom: 2px;
    margin-left: 5px;
    cursor: pointer;
    color: white;
}
.buttonTask:hover{
    color: #FFC914;
}
.svg-inline--f{
    height: 16px;
}

.button-Task-Div{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    padding: 1%;
}
/* edit button style */
.form-taskitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 10%;
}
.input-taskitem{
    border-radius: 20px;
    padding: 4px 4px 4px 10px;    
    border: none;
    margin-top: 5px;
}
.input-taskitem:focus {
    outline: none !important;
    box-shadow: 0 0 8px #5d3f03;
}

.form input{
    border: none;
    margin-bottom: 2px;
}
.submitButton {
    margin-top: 5px;
    padding: 4px;
    border: none;
    background-color: #ebebec;
    color: rgb(43, 43, 43);;
    width: 45%;
}
.submitButton:hover, .button-sign:hover{
  background-color: rgb(43, 43, 43);
  border: none;
  color: white;
  cursor: pointer;
}

/* SignIn & Sign Up Component Style*/
#signup-header{
    height: 15%;
}
#form-signup{
    height: 50%;
}
.logo-icon{
    height: 50px;
    width: 50px;
    margin-left: 5%;
    margin-top: 30px;
}
.container-sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: fixed;
    background-image: url("../assets/portada_music_b&w.jpg");
}
.header, .form-sign{
        padding: 0% 2% 0% 2%;
        background-color: #e4582ed5;
        width: 30%;
        height: 43%;
        position: relative;
        left: 10%;
}
.header{
    border-radius: 20px 20px 0px 0px;
}
.form-sign{
    border-radius: 0px 0px 20px 20px;
}

/* SignIn Button */
.button-sign{
    background-color: #212020;
    color: white;
    border: #2c2a2a;
    padding: 2%;
    width: 13%;
    border-radius: 8px;
    margin-top: 20px;
}
/* content sign in & sign up */
hr{
    margin-top: 5%;
    border: solid 2px white;
    width: 50%;
    margin-left: 25%;
}
.button-google:hover{
    background-color: #f7f6f6ce;
    box-shadow: 0 0 8px #8a939ba0;

}
.icon-google{
    height: 6%;
    width: 6%;
}

.button-google{
    background-color: #fbfbfb;
    padding: 5%;
    width: 90%;
    border-radius: 8px;
    margin: 8% 0% 2% 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.button-google a{
    color: var(--colorOrange);
    font-weight: 600;
}
.header-title {
    font-size: 35px;
    color: var(--colorWhite);
    margin: 10% 0% 2% 5%;
}
.header-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
    margin-top: 8%;
}
.header-subtitle{
    text-align: center;
    font-size: 20px;
    margin-left: 5%;
}
/* Form style SignIn & SignUp */
#signup-header{
    height: 25%;
}
#form-signup{
    height: 50%;
}
.div-form-sign{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 5%;
}
.div-form-sign input{
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    padding: 15px 0px 15px 24px;
    width: 89%;
}
.div-form-sign input:focus, .button-google:focus, .input-newtask-item:focus {
    outline: none !important;
    border:1px solid #aeaca7;
    box-shadow: 0 0 10px #8a939b;
  }
.sign-up-link-sign{
    text-decoration: none;
    color: var(--colorWhite);
    font-weight: 600;
}
.div-form-sign p{
    margin-top: 15%;
    position: relative;
    bottom: 550px;
    left: 68%;
    display: flex;
    color: white;
    font-weight: 500;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
.input-field{
    background-color:rgba(255, 255, 255, 0.871) ;
    color: black !important;
}
.form-input-email, .form-input-password, .form-input-confirm-password{
    width: 100%;
    margin-top: 3%;
}

/* BUTTON HIDE AND SHOW PASSWORD */
.field-has-addons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
}
.button-eye{
    padding: 15px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    background-color: white;
    border-radius: 0px 8px 8px 0px;
}
.show-hide-password{
    width: 100%;
}
.show-hide-password input{
    width: 100%;
}

/* MEDIA QUERY MOBILE SIGNIN & SIGNUP DESIGN*/
@media  (max-width:420px){
    /* MOBILE DESIGN FOR SIGNIN & SIGNUP DESIGN */
    #signup-link{
        bottom: 520px;
    }
    #header-title-signup{
        margin-top: 30%;
    }
    .header-title {
        font-size: 25px;
        text-align: center;
        color:white;
    }
    .header{
        height: 32%;
    }
    .header-subtitle{
        text-align: center;
        font-size: 15px;
    }
    .header, .form-sign {
        padding: 0% 2% 2% 2%;
        background-color: #e4582ed5;
        width: 80%;
    }
    .div-form-sign{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-password{
        width: 92% !important;
    }
    .div-form-sign input {
        width: 88%;
    }
    .div-form-sign p{
        bottom: 445px;
        left: 23%;
        margin-right: 8%;
    }
    .form-input-email, .form-input-password, .form-input-confirm-password{
        width: 80%;
    }
    .field-has-addons{
        width: 80%;    
    }
    /* MOBILE DESIGN FOR TASKITEMS */
    .homeTask{
        margin: auto;
        display: flex;
        max-width: 1100px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .todo-item{
        width: 100%;
    }
     .newTaskDiv{
        margin-top: 15%;   
    }
     .input-newtask-item {
        width: 88%;
    }
    .button-sign{
        width: 40%;
        padding: 12px;
    }
    .argumentTask{
        width: 80%;
    }
    /* MOBILE DESIGN FOR ADDTASK */
    .background-image-photo h1 {
        width: 80%;
        margin-left: 5% !important;
    }
    #h2-task{
        margin: 10% 0% 10% 0%;
    }
    #hr-task{
        margin-top: 10%;
    }
    .icon-daw{
        width: 15%;
    }
}

/*Account View */