:root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorYellow: #C17817;;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
}

/* Newtask component styles */
.newTaskDiv, .argumentTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.argumentTask{
    gap: 10px;
    width: 35%;
}
.newTaskDiv h2{
    margin-bottom: 30px;
    margin-top: 0px;
}
.input-field input{
    padding-top: 5px;
    padding-bottom: 5px;
}
.input-newtask-item{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(210, 207, 207);
}
.input-newtask-item:focus {
    outline: none !important;
    border:1px solid #aeaca7;
    box-shadow: 0 0 8px #b1bbc3;
}
.input-field-newtask{
    width: 100%;
}

/* Taskitem disposition layout */
.doneText {
    text-decoration: line-through;
}
.homeTask{
    margin-top: 30px;
    display: flex;
    max-width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
/* TaskItem style */
.container{
    display: flex;
    background-color: rgba(193, 120, 23, 0.9);
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 3%;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 15px #7e8081;
}
.todo-item{
    margin-top: 5px;
    width: 33%;
    height: 100%;
}
/* Button Task */
.buttonTask{
    padding: 5px 10px;
    border: none;
    border-radius: 10%;
    margin-bottom: 2px;
    margin-left: 5px;
    cursor: pointer;
}

.button-Task-Div{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
/* edit button style */
.form-taskitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 10%;
}
.input-taskitem{
    border-radius: 20px;
    padding: 4px 4px 4px 10px;    
    border: none;
    margin-top: 5px;
}
.input-taskitem:focus {
    outline: none !important;
    box-shadow: 0 0 8px #5d3f03;
}

.form input{
    border: none;
    margin-bottom: 2px;
}
.submitButton {
    margin-top: 5px;
    padding: 4px;
    border: none;
    background-color: #ebebec;
    color: rgb(43, 43, 43);;
    width: 45%;
}
.submitButton:hover, .button-sign:hover{
  background-color: rgb(43, 43, 43);
  border: none;
  color: white;
  cursor: pointer;
}

h1 {
    color: var(--colorYellow);
}

/* SignIn & Sign Up Component Style*/
.logo-icon{
    height: 80px;
    width: 80px;
    margin-top: 30px;
}
.container-sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(./seascapes043.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.header, .form-sign{
        padding: 0% 2% 0% 2%;
        background-color: rgba(255, 255, 255, 0.9);
        width: 30%;
}
.header{
    border-radius: 20px 20px 0px 0px;
}
.form-sign{
    border-radius: 0px 0px 20px 20px;
}

/* SignIn Button */
.button-sign{
    background-color: #212020;
    color: white;
    border: #2c2a2a;
    padding: 2%;
    width: 30%;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px #8a939b;
}
/* content sign in & sign up */
.header-title {
    font-size: 35px;
    text-align: center;
    color:#C17817;
}
.header-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-subtitle{
    text-align: center;
    font-size: 20px;
}
/* Form style SignIn & SignUp */
.div-form-sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.div-form-sign input{
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 10px 0px 10px 30px;
    width: 92%;
}
.div-form-sign input:focus {
    outline: none !important;
    border:1px solid #aeaca7;
    box-shadow: 0 0 10px #8a939b;
  }
.sign-up-link-sign{
    text-decoration: none;
    margin-left: 8px;
    color:rgb(193, 120, 23);
}
.div-form-sign p{
    margin-top: 15%;
}
.input-field{
    background-color:rgba(255, 255, 255, 0.871) ;
    color: black !important;
}
.form-input-email, .form-input-password, .form-input-confirm-password{
    width: 100%;
    margin-top: 3%;
}

/* BUTTON HIDE AND SHOW PASSWORD */
.field-has-addons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.button-eye{
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    /* background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)); */
}
.show-hide-password{
    width: 100%;
}
.show-hide-password input{
    width: 100%;
}

/* MEDIA QUERY MOBILE SIGNIN & SIGNUP DESIGN*/
@media  (max-width:420px){
    /* MOBILE DESIGN FOR SIGNIN & SIGNUP DESIGN */
    .header-title {
        font-size: 25px;
        text-align: center;
        color:#C17817;
    } 
    .header-subtitle{
        text-align: center;
        font-size: 15px;
    }
    .header, .form-sign {
        padding: 0% 2% 2% 2%;
        background-color: rgba(255, 255, 255, 0.8);
        width: 80%;
    }
    .input-password{
        width: 92% !important;
    }
    .div-form-sign input {
        width: 88%;
    }
    .form-input-email, .form-input-password, .form-input-confirm-password{
        width: 80%;
    }
    .field-has-addons{
        width: 80%;
    }
    /* MOBILE DESIGN FOR TASKITEMS */
    .homeTask{
        margin: auto;
        display: flex;
        max-width: 1100px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .todo-item{
        width: 100%;
    }
     /* MOBILE DESIGN FOR TASKITEMS */
     .newTaskDiv{
        margin-top: 15%;
     }
     .input-newtask-item {
        width: 88%;
    }
    .button-sign{
        width: 40%;
        padding: 12px;
    }
    .argumentTask{
        width: 80%;
    }
}

/*Account View */